* {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    outline: none !important;
    box-sizing: border-box;
}

:root {
    --text-light: rgba(255, 255, 255, 0.6);
    --text-lighter: rgba(255, 255, 255, 0.9);
}

.container {
    height: 100%;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}

.profile {
    margin: 0 auto;
    position: relative;
    margin-top: 30px;
}

.user_img {
    border-radius: 50%;
    max-width: 134px;
}

.user_img img {
    width: 100%;
    border-radius: 50%;
    opacity: 1;
}

.user_info {
    padding-top: 5%;
    position: absolute;
    width: 100%;
    text-align: center;
    color: #050505;
}

.user_info>p {
    margin: 0 auto;
    border: none;
    color: #050505;
    text-align: center;
}

.user_info>.name {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
}

.user_info>.user {
    font-size: 10px;
    letter-spacing: 1px;
    font-weight: 300;
    margin-top: 5%;
}


/** -- **/

.user_info>div {
    padding-top: 25%;
    display: inline-block;
}

.user_info>div>span.stat_count {
    font-size: 20px;
    font-weight: bold;
}

.user_info>div>span.stat_title {
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.5px;
}


/*Card obsession*/

.current {
    padding-top: 150px;
    width: 100%;
    height: 100%;
}

.current h4 {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 20px;
}

i {
    opacity: 0;
    font-size: 18px;
    color: #fff;
    will-change: transform;
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

h2 {
    pointer-events: none;
}

.current .card {
    margin: 0 auto;
    display: flex;
    position: relative;
    width: 500px;
    height: 200px;
    background-color: #f2f2f2;
    overflow: hidden;
    margin-bottom: 4px;
}

.current .card:before {
    content: "";
    z-index: 99;
    position: absolute;
    top: -10px;
    left: 32px;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    background-color: #e6e5e1;
}

.current .card:after {
    content: "";
    z-index: 99;
    position: absolute;
    bottom: -10px;
    left: 32px;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    background-color: #e6e5e1;
}

.current .card ul {
    z-index: 99;
    position: absolute;
    left: 39px;
    top: 5px;
    list-style-type: none;
}

.current .card ul li {
    width: 2px;
    height: 2px;
    border-radius: 2px;
    margin: 6px 0;
    background-color: #e6e5e1;
}

.current .card h2 {
    z-index: 110;
    font-family: "Poppins", sans-serif;
    position: absolute;
    bottom: 0;
    right: 130px;
    font-size: 60px;
    font-weight: 700;
    color: #fff;
}

.current .card .fa-arrow-right {
    z-index: 100;
    position: absolute;
    right: 75px;
    bottom: 25px;
    font-size: 40px;
    cursor: pointer;
}

.current .card p {
    z-index: 110;
    position: absolute;
    top: 20px;
    right: 70px;
    color: #333;
    opacity: 0.7;
    font-size: 12px;
    letter-spacing: 1px;
    writing-mode: vertical-lr;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.current .card .pic {
    z-index: 100;
    width: 400px;
    height: 200px;
    background-image: url("https://data.whicdn.com/images/342467192/original.gif");
    background-size: cover;
    filter: grayscale(100%);
}

.current .card .social {
    position: absolute;
    left: 60px;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 180px;
    height: 64px;
    border-radius: 80px;
}

.current .card .social i:nth-of-type(1) {
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}

.current .card .social i:nth-of-type(2) {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.current .card .social i:nth-of-type(3) {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.current .card .social i:nth-of-type(4) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.current .card:hover i {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.current .card button {
    z-index: 109;
    position: absolute;
    right: 14px;
    bottom: 14px;
    width: 30px;
    height: 30px;
    background-color: #503d37;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
    mix-blend-mode: hard-light;
}

.current .card button i {
    font-size: 3rem;
}

.current .card:hover button {
    transform: scale(16.5);
}

.current .card:hover p {
    color: #fff;
}

.current .card:hover .pic {
    filter: grayscale(0);
}

.dr {
    position: absolute;
    bottom: 16px;
    right: 16px;
    width: 100px;
}


/*Card ult*/

.ults {
    width: 100%;
}

.ults h4 {
    padding-top: 50px;
    text-align: center;
    font-size: 25px;
}

.hero-section {
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

.cardUlt-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 24px;
    width: 50%;
    height: 50%;
    min-width: 384px;
}

.cardUlt {
    list-style: none;
    position: relative;
    display: inline-block;
}

.cardUlt:before {
    content: "";
    display: inline-block;
    padding-bottom: 150%;
    width: 100%;
}

.cardUlt__background {
    background-size: cover;
    background-position: center;
    border-radius: 24px;
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition: filter 200ms linear, transform 200ms linear;
}

.cardUlt:hover .cardUlt__background {
    transform: scale(1.05) translateZ(0);
}

.cardUlt-grid:hover>.cardUlt:not(:hover) .cardUlt__background {
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.cardUlt__content {
    left: -12px;
    padding: 25px;
    position: absolute;
    top: 72%;

}

.cardUlt__category {
    color: var(--text-light);
    font-size: 10px;
    text-transform: uppercase;
}

.cardUlt__heading {
    color: var(--text-lighter);
    font-size: 20px;
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
    line-height: 1.4;
    word-spacing: 100vw;
}


/*Card Bias*/

.container2 {
    height: 134px;
    width: 134px;
    padding-top: 50px;
    display: flex;
    margin: 0 auto;
}

.cardBias {
    
    height: 134px;
    width: 134px;
    background-color: #17141d;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
    transition: 0.4s ease-out;
    position: relative;
    left: calc(100% - calc(124px * 3));
}

.cardBias:not(:first-child) {
    margin-left: 120px;
}

.title {
    color: #000000;
    font-weight: 300;
    position: absolute;
    left: 15px;
    top: 140px;
    z-index: 5;
    margin-bottom: 50px;
}

.imgBias img {
    height: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    border-radius: 50%;
    z-index: 4;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
}


/*Card Bias Men*/

.container3 {
    height: 134px;
    width: 134px;
    padding-top: 150px;
    margin: 0 auto;
    display: flex;
}

.cardBiasMen {
    display: flex;
    height: 134px;
    width: 134px;
    background-color: #17141d;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
    transition: 0.4s ease-out;
    position: relative;
    left: calc(100% - calc(124px * 2));
}

.cardBiasMen:not(:first-child) {
    margin-left: 120px;
}

.cardBiasMen .title {
    color: #000000;
    font-weight: 300;
    position: absolute;
    left: 15px;
    top: 140px;
    z-index: 5;
    margin-bottom: 50px;
}

.cardBiasMen .imgBias img {
    height: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    border-radius: 50%;
    z-index: 4;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
}

/* Media querys */

@media (max-width: 82em) {
    .container2 {
        -webkit-transform:scale(0.9);
        -moz-transform:scale(0.9);
        -ms-transform:scale(0.9);
        transform:scale(0.9);
    }

    .container3 {
        -webkit-transform:scale(0.9);
        -moz-transform:scale(0.9);
        -ms-transform:scale(0.9);
        transform:scale(0.9);
    }

    .cardUlt__category {
        font-size: 10px;
    }
    
    .cardUlt__heading {
        font-size: 20px;
    }

    .cardUlt-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 62em) {
    .container2 {
        -webkit-transform:scale(0.8);
        -moz-transform:scale(0.8);
        -ms-transform:scale(0.8);
        transform:scale(0.8);
    }

    .container3 {
        -webkit-transform:scale(0.8);
        -moz-transform:scale(0.8);
        -ms-transform:scale(0.8);
        transform:scale(0.8);
    }

    .cardUlt__category {
        font-size: 10px;
    }
    
    .cardUlt__heading {
        font-size: 18px;
    }

    .cardUlt-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 43em) {
    .container2 {
        -webkit-transform:scale(0.6);
        -moz-transform:scale(0.6);
        -ms-transform:scale(0.6);
        transform:scale(0.6);
    }

    .container3 {
        -webkit-transform:scale(0.6);
        -moz-transform:scale(0.6);
        -ms-transform:scale(0.6);
        transform:scale(0.6);
    }

    .profile {
        -webkit-transform:scale(0.8);
        -moz-transform:scale(0.8);
        -ms-transform:scale(0.8);
        transform:scale(0.8);
    }

    .current {
        -webkit-transform:scale(0.7);
        -moz-transform:scale(0.7);
        -ms-transform:scale(0.7);
        transform:scale(0.7); 
    }

    .cardUlt__category {
        font-size: 8px;
    }
    
    .cardUlt__heading {
        font-size: 16px;
    }

    .cardUlt-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}